# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Curso Patrones de Diseño\PatronesProyectoFinal\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
